<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Registrese</h1>
  <form action="/registro" name="formulario" id="formulario" method="POST">
    <div>
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" placeholder="Digite su usuario"/>
    </div> <br>
    <div>
        <label for="correo">Correo</label>
        <input type="email" name="correo" placeholder="Digite su correo"/>
    </div> <br>
    <div>
      <label for="contrasena">Contraseña</label>
      <input type="password" name="contrasena" placeholder="Digite su contraseña"/>
  </div> <br>
    <input type="submit" value="Registrar" onmouseover="registrar()"/>
</form>

</body>
</html>




  

