<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Estudiantes</title>
</head>
<body>
    <table style = "width: 100%"  id= "tabla" border = "1">
        <tbody>
            <tr>
                <td>Documento</td>
                <td>Nombre</td>
                <td>Ciclo</td>
                <td>Sexo</td>
                <td>Estado</td>
            </tr>
            {% for r in row %}
            <tr>
                <td>{{ r ["documento"] }} </td>
                <td>{{ r ["nombre"] }} </td>
                <td>{{ r ["ciclo"] }} </td>
                <td>{{ r ["sexo"] }} </td>
                <td>{{ r ["estado"] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>