<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename = 'js/funciones.js' ) }}"></script>
    <title>Document</title>
</head>
<body>
    <form name = formulariologin id = formulariologin action="/login" method="post">
        <input name="username" type="text" placeholder="Username"> <br>
        <input name="password" type="text" placeholder="Password"> <br>
        <input type="submit" value="Login">
        <input type="submit" value="Insertar" onmouseover=insertar()>
    </form>
</body>
</html>