{% extends "plantillaP.html" %}

{% block content %}
    <form action="">
        <br>
        <label for="">Nombre</label>
        <input type="text"><br><br>
        <label for="">Cantidad</label>
        <input type="text"><br><br>
        <label for="">Description</label>
        <input type="text"><br><br>
        <input type="button" value="Enviar" onclick="location.href='https://www.olimpica.com'">
        <input type="button" value="Inicio" onclick="location.href='/'">

    </form>
{% endblock %}