<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}} ">
    <!-- En la parte de href se coloca un doble juego de llaves y un helper url_for 
        (me ayuda a buscar los arhivos que tengo que mostrar) 
        como primer parametro se coloca static como segundo parámetro file name 
        y ahí se coloca la ruta del archivo que se quiere obtener. 
        Para los archivos JavaScript, sucede lo  mismo y las imagenes
    -->
</head>
<body>
    <form action="/login" method="POST">
         <label for="">Usuario</label>
         <input type="text" name="nombre" placeholder="Username">
         <label for="">Contraseña</label>
         <input type="password" name="password" placeholder="Password">
         <input type="submit" value="Enviar">
 
    </form>
</body>
</html>