h1 {font-family: sans-serif; color:blue; background-color: lightblue ; }
input[type=submit] {text-align: center; min-width: 100px}
form {font-family: cursive; color: blue}

.p {
    font-family: cursive; color:blue
}