<form name='fLogin' method='POST' action='/login/' novalidate>
    <div class='principal'>
        <div class='izquierda'>
          <div class='fila'>
           <div class='col2'>{{ form.usuario.label }}</div>   
           <div>{{ form.usuario(size=20) }}</div>   
          </div>  
          <div class='fila'>
           <div class='col2'>{{ form.clave.label }}</div>   
           <div>{{ form.clave(size=30) }}</div>   
          </div>  
          <div class='fila'>
           <div class='col2'>&nbsp;</div>   
           <div>{{ form.enviar() }}</div>   
          </div>  
        </div>
        <div class='derecha'>
        </div>
       </div>
</form>
